* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../assets/mountains-universe-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;

}

